header {
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-bottom: 1.2px solid var(--superlightwhite);
  transition: all 500ms ease-in-out;
}
header .nav {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
  z-index: 10;
}
header .nav .left.home ul {
  -moz-column-gap: 30px;
       column-gap: 30px;
}
header .nav .left.home ul li {
  font-family: "pm";
  font-size: 16px;
  color: var(--lightwhite);
  cursor: pointer;
  transition: all 300ms ease-in-out;
  position: relative;
}
header .nav .left.home ul li::after {
  content: "";
  width: 100%;
  height: 1.2px;
  background-color: var(--white);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
header .nav .left.home ul li:hover::after {
  color: var(--white);
  opacity: 1;
  transition: all 300ms ease-in-out;
}
header .nav .left.home .hamburger {
  display: none;
  width: 20px;
  height: 15px;
  border: 1px solid transparent;
}
header .nav .left.home .hamburger div {
  height: 2px;
  width: 100%;
  background-color: var(--lightwhite);
  transition: all 300ms ease-in-out;
  transform-origin: center;
}
header .nav .left.home .hamburger.active div:nth-child(1) {
  transform: rotate(45deg) translate(4px, 4px);
  transform-origin: center;
}
header .nav .left.home .hamburger.active div:nth-child(2) {
  transform: scale(0);
}
header .nav .left.home .hamburger.active div:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
  transform-origin: center;
}
header .nav .left.single ul li {
  -moz-column-gap: 10px;
       column-gap: 10px;
  font-family: "pm";
  font-size: 16px;
  color: var(--lightwhite);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
header .nav .left.single ul li:hover {
  color: var(--white);
  transition: all 300ms ease-in-out;
}
header .nav .mid {
  font-family: "psb";
  font-size: 16px;
  color: var(--lightwhite);
  letter-spacing: 2px;
  cursor: default;
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  left: 0;
  right: 0;
}
header .menu {
  background-color: var(--black);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  display: grid;
  place-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in-out;
}
header .menu .wrap ul {
  row-gap: 50px;
}
header .menu .wrap ul li {
  font-family: "pm";
  font-size: 16px;
  color: var(--lightwhite);
}
header .menu.active {
  opacity: 1;
  pointer-events: visible;
  transition: all 300ms ease-in-out;
}

header.animate {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(161, 161, 161, 0.2);
  transition: all 500ms ease-in-out;
}

footer {
  height: auto;
  width: 100%;
  border-top: 1.2px solid var(--superlightwhite);
}
footer .wrap {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
}
footer .wrap .left {
  font-family: "pr";
  font-size: 16px;
  color: var(--lightwhite);
}

@media only screen and (max-width: 991px) {
  header .nav .left.home ul {
    display: none;
  }
  header .nav .left.home .hamburger {
    display: flex;
  }
  header .nav .left.single ul li div {
    display: none;
  }
  footer .wrap {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media only screen and (max-width: 768px) {
  footer .wrap .left {
    font-size: 14px;
  }
}/*# sourceMappingURL=header-footer.css.map */