@media only screen and (max-width: 991px) {
    .project-item {
        .pre {
            div:nth-child(2) {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    //container
    .container1080,
    .container1280,
    .container1440 {
        padding: 0px 20px;
    }

    //general
    .grid21 {
        grid-template-columns: 1fr;
    }

    //duplicate element
    .link-wrap {
        ul {
            li {
                font-size: 14px;
                a::before {
                    width: calc(100% - 17px);
                }
                a::after {
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
    .project-item {
        .pre {
            div:nth-child(1) {
                h3 {
                    font-size: 20px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }

    //page
    .front-page {
        .banner {
            .container1280 {
                .outter-wrap {
                    .inner-wrap {
                        h2 {
                            font-size: 16px;
                        }
                        h1 {
                            font-size: 56px;
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
        .showcase {
            margin-bottom: 40px;
            .container1440 {
                margin-bottom: 50px;
                .wrap {
                    height: 35px;
                    .scroll {
                        .RightToLeft {
                            p,
                            a {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
            .container1280 {
                .outter-wrap {
                    h2 {
                        font-size: 24px;
                        margin-bottom: 25px;
                    }
                    .inner-wrap {
                    }
                }
            }
        }
        .contact {
            margin-bottom: 60px;
            .container1280 {
                .wrap {
                    h2 {
                        font-size: 24px;
                        margin-bottom: 20px;
                    }
                    p {
                        font-size: 14px;
                    }
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .single-page {
        .banner {
            height: 200px;
            .container1280 {
                .outter-wrap {
                    .inner-wrap {
                        margin-bottom: 40px;
                        h2 {
                            font-size: 14px;
                            margin-bottom: 10px;
                        }
                        h1 {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
        .content {
            padding: 50px 0px;
            .container1080 {
                .wrap {
                    h2 {
                        font-size: 20px;
                        margin: 10px 0px;
                    }
                    p {
                        font-size: 14px;
                        margin-bottom: 5px;
                    }
                    img {
                        margin: 10px 0px;
                    }
                }
            }
        }
    }
}
